.notice{
     margin-top: 15px !important;
}

 .cancel, .cancel1{
     float: right;
     margin-right: 7px;
     margin-top: -43px;
     position: relative;
}
 .setting_title{
     font-size: 2.2em;
     margin-top: 15px;
}
 .stripe_btn{
     background:#5A6CDA;
     height:32px;
     border-color: transparent;
     border-radius: 6px;
     color:#fff;
     font-size: 16px;
     cursor:pointer;
}
 #api_key{
     width:90%;
}
 #secret_key{
     width:90%;
}
 .connected{
     text-align: center;
     margin-top: 2px;
     color: green;
}
 .stripe_btn_link {
     margin-top:15px;
     text-align: center;
}
 .help_title{
     font-size: 24px;
     width:100%;
     margin-top:1%;
     text-align:center;
}
 .main_help {
     width:100%;
     min-height:150px;
     padding:15px;
     background-code:white;
}
 .help_sub p{
     height:5%;
     padding:20px;
     width:100%;
     font-size: 15px;
}
 .sub_row {
     clear: both;
     width:100%;
     height:auto;
}
 .sub_col1 {
     width: 50%;
     float: left;
}
 .sub_col2{
     width: 50%;
     float: left;
     text-align:left;
}
 .sub_col1_Inactive {
     width: 100%;
     float: left;
}
 #card_name, #card_type, #Customer_list{
     width: 100%;
     padding: 12px;
     border: 1px solid #ccc;
     border-radius: 4px;
     resize: vertical;
}
 label {
     padding: 12px 12px 12px 0;
     display: inline-block;
}
body #new_card input[type=submit] {
     background-color: #4CAF50;
     color: #fff !important;
     padding: 12px 20px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     float: right;
}
body #new_card input[type=submit]:hover {
     background-color: #45a049;
}
 .col-25 {
     float: left;
     width: 25%;
     margin-top: 6px;
}
 .col-75 {
     float: left;
     width: 75%;
     margin-top: 6px;
}
/* Clear floats after the columns */
 .row:after {
     content: "";
     display: table;
     clear: both;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
 @media screen and (max-width: 600px) {
     .col-25, .col-75, input[type=submit] {
         width: 100%;
         margin-top: 0;
    }
}
/* Credit Card */
 .credit-card {
     width : 70%;
     height : auto;
     margin-top :100px;
     border : 1px solid #ddd;
     border-radius : 6px;
     background-color : #fff;
     box-shadow : 1px 2px 3px 0px rgba(0,0,0,0.10);
     max-width:100%;
}
 .form-header {
     height : auto;
     padding : 20px 30px 0;
     border-bottom : 1px solid #E1E8EE;
}
 .form-body {
     height : auto !important;
     padding : 30px 30px 20px !important;
}
/* Title */
 .title {
     margin : 0;
     color : #5e6977;
     font-size : 18px;
}
/* Common */
 .card-number, .cvv-input input, .month select, .paypal-btn, .proceed-btn, .year select {
     height : 42px;
}
 .card-number, .month select, .year select {
     font-size : 14px;
     font-weight : 100;
     line-height : 14px;
}
 .card-number, .cvv-details, .cvv-input input, .month select, .year select {
     color : #86939e;
     opacity : .7;
     margin-bottom: 20px;
}
/* Card Number */
body #new_card .card-number {
     width : 100% !important;
     margin-bottom : 20px !important;
     padding-left : 20px;
     border : 2px solid #e1e8ee;
     border-radius : 6px;
}
body #new_card .cvv-input input {
     width : 100% !important;
     margin-bottom : 20px !important;
     padding-left : 20px;
     border : 2px solid #e1e8ee;
     border-radius : 6px;
}
.card-number {
    width: 100%;
}
/* Date Field */
 .month select, .year select {
     -moz-appearance : none;
     -webkit-appearance : none;
     width : 100%;
     margin-bottom : 20px;
     padding-left : 20px;
     border : 2px solid #e1e8ee;
     border-radius : 6px;
     background : url('caret.png') no-repeat;
     background-position : 85% 50%;
}
body #new_card .month select {
     float : left !important;
}
body #new_card .year select {
     float : right !important;
}
body #new_card input[type=text] {
    height: 36px;
    border: none;
    background-color: rgba(0,0,0,0.04);
    -webkit-box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, .8);
    border-radius: 4px;
    font-family: inherit;
    font-size: 14px;
    padding: 10px 13px;
    box-sizing: border-box;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    line-height: 1.4;
    outline: none;
}

/* Card Verification Field */
 .cvv-input input {
     width : 145px;
     float : left;
     padding-left : 20px;
     border : 2px solid #e1e8ee;
     border-radius : 6px;
     background : #fff;
}
 .cvv-details {
     float : right;
     margin-bottom : 20px;
     font-size : 12px;
     font-weight : 300;
     line-height : 16px;
}
 .cvv-details p {
     margin-top : 6px;
     width: 137px;
}
/* Buttons Section */
 .paypal-btn, .proceed-btn {
     cursor: pointer;
     width : 100%;
     border-color : transparent;
     border-radius : 6px;
     font-size : 16px;
}
 .proceed-btn {
     margin-bottom : 10px;
    /*background : #7dc855;
     */
     background : #DE5133;
}
 .paypal-btn a, .proceed-btn a {
     text-decoration : none;
     cursor : pointer;
}
 .proceed-btn a {
     color : #fff;
}
 .paypal-btn a {
     color : rgba(242, 242, 242, 0.7);
}
 .paypal-btn {
     padding-right : 95px;
     background : url('paypal-logo.svg') no-repeat 65% 56% #009cde;
}

header#masthead {
    z-index: 1;
}

#left-panel {
    z-index: 2 !important;
}

 @media screen and (max-width: 600px) {
     .month select {
         width: 100%;
    }
}
 @media screen and (max-width: 358px) {
     .month select {
         width: 100%;
    }
     .cvv-input input {
         width: 100%;
    }
     .year select{
         width: 100% 
    }
     .cvv-details{
         margin-bottom: -4px;
    }
     .credit-card {
         height: auto;
    }
}
 .add-new-btn{
}
 .cards_list{
     width: 50%;
     float:left;
}
 #add_new_card{
     border: none;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
}
 @media screen and (max-width: 600px) {
     .credit-card{
         width:100%;
    }
     .add-new-btn{
         width: 50%;
    }
     .cards_list{
         width: 100%;
         float:left;
         margin-bottom: 10px;
    }
     .cvv-details p{
         width: 100%;
         float: left;
    }
     .cvv-details {
         float: none;
    }
}
 .credit-card1 {
     width : 360px;
     height : auto;
     margin : 60px auto 0;
     border : 1px solid #ddd;
     border-radius : 6px;
     background-color : #fff;
     box-shadow : 1px 2px 3px 0px rgba(0,0,0,0.10);
     max-width:100%;
}
/**** END Form ****/
 .card_processing_img{
     margin: 10%;
     margin-left:30%;
     height:200px;
     text-align:center;
     background-image:url('../images/loading.gif');
     background-repeat: no-repeat;
}
 @media only screen and (max-width: 500px) {
     .inactive_btn {
        /*width: 71px !important;
         height: 32px;
        */
         font-size: 11px;
    }
     .sub_col1 {
         width: 60%;
    }
     .sub_col2 {
         width: 40%;
         text-align : right;
    }
}
 @media only screen and (max-width: 600px) {
     #add-new-btn{
         float:left;
    }
}
 .clearfix:after, .clearfix:before {
     display: table;
     content: '';
}
 .clearfix:after {
     clear: both;
}
 .leftbar, .rightbar {
     width: 30%;
     float: left;
     height: 100vh;
}
 .centerbar {
     float: left;
     width: 40%;
}
 .all-subscriptions {
     width: 100%;
     color: #504b4a;
}
 .add-card {
     text-align: right;
}
 .add-card button {
     padding: 10px 20px;
     background-color: #4188ac;
     font-size: 18px;
     border: none;
     color: #fff;
}
 .add-card button i {
     padding-right: 10px;
}
 .visa {
     border: solid 1px #ccc;
     border-radius: 5px;
     margin: 20px 0;
     padding: 20px;
}
 .visa .visa-img, .visa span, .visa .visa-edit {
     display: inline-block;
     vertical-align: middle;
}
 .visa .visa-img {
     width: 10%;
}
 .visa span {
     width: 55%;
}
 .visa .visa-edit {
     width: 30%;
}
 .visa span {
     text-align: center;
}
 .visa .visa-edit, .visa span, .visa .visa-img {
     padding: 0 10px;
}
 .visa .visa-edit a {
     padding-right: 30px;
     color: #0275d8;
     text-decoration: none;
     border-bottom: unset;
     font-size: 1em;
}
 .visa .visa-edit a:last-child {
     padding-right: 0;
}
 .visa .visa-edit a:hover {
     text-decoration: none;
}
 .visa .visa-edit a i {
     padding-right: 10px;
}
 .all-subscriptions .active-subscribe table {
     border-collapse: collapse;
     width: 100%;
}
 .all-subscriptions .active-subscribe table thead th {
     font-size: 20px;
     font-weight: 700;
}
  
 .all-subscriptions .active-subscribe table td, .all-subscriptions .active-subscribe table thead th {
     border: solid 1px #ccc;
     width: 25%;
     padding: 15px;
     text-align: left;
     line-height: 26px;
}

.all-subscriptions .active-subscribe .invoice_transaction td, .all-subscriptions .active-subscribe .invoice_transaction thead th {
   width: 16.60%;
}

 .all-subscriptions .active-subscribe table td {
     font-size: 16px;
}
 .all-subscriptions .active-subscribe table td.action span {
     position: relative;
     color: #5d93ae;
     cursor: pointer;
}
 .all-subscriptions .active-subscribe table td.action span:before {
     font-family: 'Font Awesome\ 5 Free';
     font-weight: bold;
     left: 0;
     top: 0;
     padding-right: 10px;
}
 .all-subscriptions .active-subscribe table td.action span.cancle:before {
	 /*
     content: '\f00d';
     padding-right: 14px;
     cursor: pointer;
	 */
}
 .all-subscriptions .active-subscribe table td.action span.update:before {
     content: '\f2ea';
}
 .all-btn {
     text-align: right;
     padding-top: 20px;
}
 .all-btn button {
     background-color: #fff;
     border: solid 1px #ccc;
     border-radius: 3px;
     padding: 10px 12px;
     cursor: pointer;
}
 .all-btn button:hover, .all-btn button:focus {
     color: #fff;
     background-color: #467ab2;
     border-color: #467ab2;
}
 .paginateContainer {
     display : block;
     text-align: center;
}
 .paginateContainer .paginateList {
     display: inline-block;
}
 .paginateContainer .paginateShowAllList {
     display: none;
}
 .paginateContainer li{
     display: inline-block;
}
 .paginateContainer .paginateAnchor{
     font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
     text-decoration: none;
     cursor: pointer;
     line-height: 20px;
     padding: 4px 12px;
     background-color: #fff;
     color: #08c;
     font-size : 16px;
     min-width: 16px;
     float: left;
     border-right: 1px solid #ccc;
     border-top: 1px solid #ccc;
     border-bottom: 1px solid #ccc;
    /* Select None */
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
}
 .paginateContainer .paginateAnchor:hover {
     color : #fff;
     background-color: #2ae;
     border-top: 1px solid #2ae;
     border-bottom: 1px solid #2ae;
}
 .paginateContainer .paginatePrevious .paginateAnchor{
     border-top-left-radius: 10px;
     border-bottom-left-radius: 10px;
     border: 1px solid #ccc;
     font-size : 18px;
     font-weight: bold;
}
 .paginateContainer .paginateNext .paginateAnchor {
     border-top-right-radius: 10px;
     border-bottom-right-radius: 10px;
     border: 1px solid #ccc;
     font-size : 18px;
     font-weight: bold;
     border-radius: 0;
}
 .paginateContainer .paginatePrevious .paginateAnchor:hover, .paginateContainer .paginateNext .paginateAnchor:hover {
     border: 1px solid #2ae;
}
 .paginateContainer .paginateShowAllList .paginateAnchor {
     border-radius: 10px;
     font-size: 18px;
     font-weight: bold;
}
 .paginateContainer .paginateShowAllList {
     float: right;
}
 .paginateContainer .paginateActive .paginateAnchor, .paginateContainer .paginateActive .paginateAnchor:hover {
     color : #fff;
     cursor: default;
     background-color: #08c;
     border-top: 1px solid #08c;
     border-bottom: 1px solid #08c;
}
 .paginateContainer .paginateDisabled .paginateAnchor, .paginateContainer .paginateDisabled .paginateAnchor:hover {
     color : #bbb;
     background-color: #fff;
     cursor: default;
     border: 1px solid #ddd;
     border-radius: 0;
}
.of-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 9999 !important;
}
.of-overlay:target {
  visibility: visible;
  opacity: 1;
}

.of-popup {
  margin:auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
}

.of-popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.of-popup .close {
  position: absolute;
    top: -5px;
    right: 5px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.of-popup .close:hover {
  color: #06D85F;
}
.of-popup .content {
  max-height: 30%;
  overflow: auto;
}

.of-overlay .credit-card {
    width: 99%;
}

.of-overlay  .buddyboss-select {
    width: 100% !important;
  margin-bottom: 15px;
}

.of-overlay .buddyboss-select-inner {
    color: #5e6977;
    border-color: #f8f8f8;  
}



.of-overlay .credit-card {
    width: 99%;
}
.of-overlay .credit-card {
 	margin-top: 0px;
}
.of-popup .content {
      max-height: 550px;
}
.of-overlay .form-header {
    padding-top: 0;
}
.of-popup {
    /*top: 20%;*/
	/*left: 50%;*/
    transform: translateY(-50%,-50%);
	position: relative;
}
/*#right-panel{
    position:  absolute;
	z-index: 2;
}*/

.of-popup {
    top: 50%;
    transform: translateY(-50%);
	 padding: 30px 0;
}



 .card_processing_img{
     height: 65px;
     text-align:center;
     background-image:url('../images/loading.gif');
     background-repeat: no-repeat;
	 margin: 20px auto;  
	background-position: center;
}

 .add_card_btn {
    background: #4188ac;
    font-size: 16px;
}

.of-overlay select, .of-overlay input {
    height: auto !important;
    padding: 10px !important;
}


.of-overlay .form-header h4 {
    margin: 10px 0;
}

.of-overlay #card_type {
    padding: 6px
}

.of-overlay .date-field {
    margin-bottom: 10px !important;
}

.of-overlay .form-body {
    padding: 30px 10px 20px !important;
}

.of-overlay button#Add_card {
    color: #fff;
}

 .add_card_btn {
    background: #4188ac;
    font-size: 16px;
}

.proceed-btn {  color: #fff;}

.add_card_btn {
    background: #4188ac!important;
    font-size: 16px!important;
    color: #fff!important;
    padding: 15px;
    position: relative;
    z-index: 9999;
}
.display_popup {
    visibility: visible !important;
    opacity: 1 !important;
}
body .include-nav {
    z-index: 9 !important;
}
.of-overlay h4.title {
    margin: 10px 0 !important;
}
.of-popup .close {
    top: 0px;
}

@media screen and (max-width:1199px){

.of-popup{
	 width: 70%;
	}
}
.of-overlay h4.title {
    margin: 10px 0;
}

/*@media screen and (max-width: 700px){
  .of-box{
    width: 70%;
  }
  .of-popup{
    width: 70%;
  }
}
@media only screen and (max-width: 1200px) {
     .visa .visa-img {
         width: 20%;
    }
     .visa span {
         width: 45%;
    }
}
 @media only screen and (max-width: 991px) {
     .visa {
         padding: 20px 10px;
    }
     .visa .visa-edit, .visa .visa-img {
         padding-right: 0;
    }
}
 @media only screen and (max-width: 767px) {
     .visa .visa-img, .visa span, .visa .visa-edit {
         display: block;
         text-align: center;
         width: 100%;
         padding: 0 0 10px 0;
    }
     .visa span, .visa .visa-edit {
         margin: 0 auto;
    }
}
*/

 @media only screen and (max-width:768px) {
.all-subscriptions {
    overflow-x: scroll;
}
	 .of-popup .date-field select {
    width: 100%;
}
	 .of-popup {
    top: 50vh;
    transform: translateY(-50%);
}
}	 


 @media only screen and (max-width:481px) {
	 body.is-desktop.left-menu-open[data-logo="1"] #right-panel {
    width: 100%;
    margin-top: 0;
}
	 #right-panel {
    width: 100%;
}
	 .of-popup {
      top: 45vh;
}
.of-popup .content {
    max-height: 340px;
}
	 .of-popup{
	 width: 85%;
	}
	 .of-overlay .date-field {
    margin-bottom: 0px !important;
}
}

@media(max-width:767px){
.visa .visa-img {
    width: 25%;
}
.visa .visa-img img {
    width: 100%;
}

.visa span {
    width: 64%;
    padding: 0 !important;
}
.visa {
    float: left;
}

.op-text-block .of-box.add-card {
    float: left;
    width: 100%;
}
.op-text-block .of-box.add-card a.button.add_card_btn {
    float: right;
}

}






