/* Wrapper */
.cpfs {
}

/* Add Card */
.cpfs.add-card .field-group {
    margin: 2rem 0;
}

.cpfs.add-card input {
    font-size: 1em;
    line-height: 1.2em;
    padding: 1rem 2rem;
    background-color: white;
    color: #444;
    border: 1px solid #444;
    border-radius: .5rem;
}

.cpfs.add-card button[type="submit"] {
    padding: 1rem 2rem;
    background-color: white;
    color: #444;
    border: 1px solid #444;
    border-radius: .5rem;
}

.cpfs.add-card #card-element {
    padding: 1rem 2rem;
    background-color: white;
    color: #444;
    border: 1px solid #444;
    border-radius: .5rem;
}

.cpfs.add-card #card-error {
    font-size: 1em;
    line-height: 1.2em;
    color: #ff0000;
    margin: 2rem 0;
}

.cpfs.add-card #card-success {
    font-size: 1em;
    line-height: 1.2em;
    color: #00b300;
    margin: 2rem 0;
}

/* List Cards */
.cpfs.cpfs-cards table {
    table-layout: auto;
}

.cpfs.cpfs-cards thead th {
    white-space: nowrap;
}

.cpfs.cpfs-cards tbody td {
    font-size: 0.8em;
    white-space: nowrap;
}

/* List Subscriptions */
.cpfs.cpfs-subscriptions table {
    table-layout: auto;
}

.cpfs.cpfs-subscriptions tbody td {
    font-size: 0.8em;
    white-space: nowrap;
}

.cpfs.cpfs-subscriptions .action-column {
    text-align: center;
}

.cpfs.cpfs-subscriptions .btn-cancel-subscription {
    padding: 0.6rem 1rem;
    background-color: white;
    color: #444;
    border: 1px solid #444;
    border-radius: .5rem;
    font-size: 0.75em;
}

/* List Invoices */
.cpfs.cpfs-invoices table {
    table-layout: auto;
}

.cpfs.cpfs-invoices thead th {
    white-space: nowrap;
}

.cpfs.cpfs-invoices tbody td {
    font-size: 0.8em;
    white-space: nowrap;
}
